.homepage-link {
    font-size: 18px;
    text-decoration: none;
    color: #FF6060;
}

.homepage-link:hover {
    border-bottom: #FF6060 1px solid;
}

@media (max-width: 500px) {
    .homepage-link {
        font-size: 14px;
      }
}