.empty {
    width: 30px;
    height: 30px;
    background-image: url('../assets/icons/empty-star.svg');
}

.filled {
    width: 30px;
    height: 30px;
    background-image: url('../assets/icons/red-star.svg');
}